PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:dev@localhost:5432/fintech
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=dev-secret-change-in-prod-super-secure-key-123456
JWT_REFRESH_SECRET=dev-refresh-secret-change-in-prod-super-key-987654
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:5173
LOG_LEVEL=debug
BACEN_PIX_MOCK_URL=http://localhost:3000/api/pix/mock-dict
